<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classification of clothing images</title>
</head>
<br>
    <h1>Classification of clothing images</h1>
    <label>This website is based on Tensorflow-Basic image classification:Classify images of clothing.</label>
    <br>
    <label>Please import a clothing image you want and then click "Submit" button.</label>
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input type="file" name="file" accept="image/jpeg, image/png, image/jpg, image/tiff, image/bmp"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <br>
    <label>Accepted Image File Format: JPEG, JPG, PNG, TIFF, BMP</label>
</body>
</html>